# -*- mode: gitignore; -*-

##############################################################################
## Shellspec
##############################################################################

/coverage/
/report/
